.new-tweet {
  margin-right: 2em;
  margin-left: 2em;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

textarea {
  display: block;
  margin: 0 auto;
  height: 65px;
  width: 100%;
  margin-bottom: 10px;
}

textarea[placeholder] {
  padding-top: 10px;
  padding-left: 10px;

}

h2 {
  border-bottom: 1px solid black;
}



.counter {
  float: right;
  margin-right: 10px;
}

